/* Palette de couleurs */
:root {
    --coffee-brown: #4b3832;
    --light-cream: #f5f0e1;
    --dark-brown: #3b2f2f;
    --accent-color: #c49a6c;
    --color-brown: #8b5c38;
    --color-orange: hsl(27, 75%, 34%);
}

/* Réinitialiser le style par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, var(--light-cream), var(--coffee-brown)); 
    color: var(--dark-brown);
}

/* Header */
header {
    background-color: var(--coffee-brown);
    padding: .7rem 2rem;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo-header {
    width: 8rem;
    height: auto;
}

/* Titre */
.title-header {
        font-family: "Great Vibes",cursive;
        font-size: 4rem;
        color: var(--accent-color);
        margin-left: -20rem;
}

/* Liens de navigation */
ul {
    display: flex;
    gap: 1.5rem;
    
}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.2rem;
    transition: color 0.3s;
}

ul a:hover {
    color: var(--light-cream);
}

.container-main{
    display: flex;
}

article{
    padding: 1rem;
    width: 40%;
    margin:4rem;
}

.img-main {
    margin-top: 7rem;
    width: 40%;
    height: 40%;
    margin-left: 4rem;
    border-radius: 10px;
}

.beginning-title{
    font-size: 1.5rem;
    color: var(--coffee-brown);
}

.secondary-title{
    font-size: 1.5rem;
    color: var(--coffee-brown);
    margin-top: 1rem;
}

p{
    font-size:1rem;
    font-weight: normal;
    color:black;
    margin: 1rem 0;
    text-align: justify;
}

.catalogue-link {
    text-decoration: none;
    color: var(--coffee-brown);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.75rem 2rem; 
    border: 2px solid var(--coffee-brown);
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.3s ease; 
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -1rem;
}

.catalogue-link:hover {
    color: var(--light-cream); 
    background-color: var(--accent-color); 
    border-color: var(--accent-color); 
}

footer {
   
    background: linear-gradient(to center, var(--light-cream), var(--coffee-brown)); 
    padding: 2rem;
    text-align: center;
}

.footer-title {
    font-size: 2rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.section-decouverte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 1rem;
    background-color: var(--dark-brown);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-decouverte h1 {
    font-size: 1.5rem;
    color: var(--light-cream);
    margin-bottom: 0.5rem;
}

.img-decouverte {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.caracteristique-decouverte {
    color: var(--light-cream);
    margin: 1rem 0;
}

.article-decouverte-link {
    margin-top:auto;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--coffee-brown);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: var(--light-cream);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.article-decouverte-link:hover {
    background-color: var(--accent-color);
}

/*catalogue*/

.coffee-catalogue-div{
    margin-top: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.coffee-catalogue-img{
    width: 40rem;
    height: 16rem;
    opacity: 0.7;
    border-radius: 10px;
    filter:drop-shadow(.5rem .5rem 1rem var(--dark-brown));
}

.coffee-catalogue-title {
    position: absolute;
    text-align: center;
    color: var(--coffee-brow);
    font-weight: bold;
    font-size: 2rem;
    z-index: 1;
}

.container-articles-catalogue{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coffee-catalogue{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 1rem;
    background-color: var(--dark-brown);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    filter:drop-shadow(.5rem .5rem 1rem var(--dark-brown));

}

.article-title{
    color: var(--accent-color);
    font-weight: bold;
    text-align: center;
}

.article-img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.article-caracteristique{
    color: var(--accent-color);
}

.article-origine{
    margin-bottom: -.7rem;
    color: var(--accent-color);
}

.article-prix{
    color: var(--accent-color);
}

.article-link{
    text-decoration: none;
}

.articles-link{
    text-decoration: none;
    color: var(--coffee-brown);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.75rem 2rem; 
    border: 2px solid var(--coffee-brown);
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.3s ease; 
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.articles-link:hover {
    color: var(--light-cream); 
    background-color: var(--accent-color); 
    border-color: var(--accent-color); 
}

/* Menu Hamburger */
.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding: 10px;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 5px;
}

/*Product*/
.product-container{
    display: flex;
    flex-direction: column;

}

.product-img{
    width: 30rem;
    height: 30rem;
    margin: auto;
    margin-top: 5rem;
    border-radius: 10px;
}


.product-sheet{
    margin-top: 10rem;
    padding: 2rem; 
    border: 3px solid rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    background-color: transparent;
}
.product-sheet-date{
    text-align: right;
    font-size: .8rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
    color:var(--coffee-brown);
    font-weight: bold;

}

.product-title{
    font-family: "Great Vibes",cursive;
    font-size: 2.7rem;
    color: var(--coffee-brown);

}
.product-description{
    color: var(--coffee-brown);
    font-size: 1.2rem;
}
.product-caracteristique{
    margin-top: 3rem;
    color:var(--light-cream);
    font-size: 1.2rem;
}
.product-reference{
    color:var(--light-cream);
    font-size: 1.2rem;
}
.product-origine{
    color:var(--light-cream);
    font-size: 1.2rem;
}
.product-price{
    color:var(--light-cream);
    font-size: 1.2rem;
}
    
.product-disponible{
    color:var(--light-cream);
    font-size: 1.2rem;
}

.product-footer-text{
    font-family: "Great Vibes",cursive;
    color:var(--light-cream);
    text-align: end;
    font-size: 1.2rem;
}
.error-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: linear-gradient(to bottom, var(--light-cream), var(--coffee-brown)); /* Applique un fond dégradé */
    padding: 0;
}

.error-message {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.596);
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    width: 90%;
}

.error-message h1 {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    color: var(--coffee-brown);
    margin-bottom: 1rem;
}

.error-message p {
    font-size: 1.2rem;
    color: var(--coffee-brown);
    margin-bottom: 2rem;
}

.error-message a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border: 2px solid var(--accent-color);
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.error-message a:hover {
    color: var(--light-cream);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.main-container-contact{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 150vh; 
    background: linear-gradient(to bottom, var(--light-cream), var(--coffee-brown)); /* Applique un fond dégradé */
    padding: 0;
}
/* Formulaire de contact */
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin:2rem;
    padding: 2rem;
    background-color: var(--dark-brown);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulaire label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color:var(--light-cream);
}

.formulaire input, .formulaire textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--coffee-brown);
    border-radius: 8px;
    font-size: 1rem;
}
.formulaire input[type="submit"] {
    background-color: var(--accent-color);
    color: var(--coffee-brown);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulaire input[type="submit"]:hover {
    background-color: var(--color-brown);
}

/* Carte Plan */
.plan {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#map {
    width: 30rem;
    height: 30rem;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.map-localisation-title {
    font-family: "Great Vibes",cursive;
    font-size: 2rem;
    text-align: center;
    color:var(--coffee-brow);
    margin-bottom: 1rem;
}

/* formulaire d'admin */
.admin-formulaire-main{
    height: 70vh; 
}
.admin-formulaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 4rem;
    background-color: var(--light-cream);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
   
}

.admin-formulaire-title {
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    color: var(--coffee-brown);
    margin-bottom: 2rem;
    text-align: center;
}

.admin-formulaire-main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.admin-formulaire-main input[type="file"] {
    padding: 0.5rem;
    border: 2px solid var(--coffee-brown);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--coffee-brown);
    background-color: var(--light-cream);
    cursor: pointer;
}

.admin-formulaire-main button {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--light-cream);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.admin-formulaire-main button:hover {
    background-color: var(--color-brown);
    border-color: var(--color-brown);
}


@media (max-width: 700px) {
    .title-header{
        margin-left: -5rem;
    }
    nav {
        position: relative;
    }

    ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--coffee-brown);
        padding: 1rem;
        z-index: 10;
    }

    ul li a {
        text-decoration: none;
        color: var(--accent-color);
        font-size: 1.2rem;
        transition: color 0.3s;
    }

    ul li a:hover {
        color: var(--light-cream);
    }
    .container-main{
        flex-direction: column-reverse;
    }
    article{
        padding: 1rem;
        width: 90%;
        margin:auto;
    }
    .img-main {

        margin: 4rem auto;   
        width: 90%;
        height: 90%;
        
    
    }
        
    .footer-container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-title {
        text-align: left;
        margin-left: 2rem;
    }

    .coffee-catalogue{
        margin: .5rem;
        display: flex;
        flex:wrap;
        justify-content: center;
        gap:1rem;
    }

    .coffee-catalogue-img{
        width: 30rem;
        height: 14rem;
    }
    main{
        margin-bottom: 4rem;
    }
    
    .coffee-catalogue-div{
        margin-bottom: 4rem;
    }
    .articles-link{
        margin-left: 2rem;
        margin-top: -2rem;
    }
    .menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 7px;
    }

    .menu-toggle:checked + .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked + .menu-icon span:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -7px;
    }
    .product-img{
        width: 20rem;
        height: 20rem;
       
    }
    .error-main{
        margin-bottom: -2rem;
    }
    .product-sheet-date{
        text-align: right;
    
    }
    
    .product-title{
        text-align: left;
        margin-top: 2rem;
    
    }
    .main-container-contact{   
        height: 250vh;    
    }
    .admin-formulaire-container {
        width: 500px;
        height: 450px;
    }  
}
