<%- include('./partials/header') %>
    <main class="error-main">
        <div class="error-message">
        <h1 >404 - Page non trouvée</h1>
    
        <p>Oupsy, vous êtes perdu ?</p>
    
        <a href ="/" aria-label="retour à l'accueil">Retour à l'accueil</a>
        </div>
    </main>
    <%- include('./partials/footer2') %>