<%- include('./partials/header') %>
<main class="admin-formulaire-main">
    <div class="admin-formulaire-container">
        <h1 class="admin-formulaire-title">Ajouter un nouveau café</h1>
        <form action="/admin/coffee/add" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Télécharger</button>
        </form>
    </div>
</main>
<%- include('./partials/footer2') %>