<%- include('./partials/header') %>
    <main>
        <div class="coffee-catalogue-div">
            <img class="coffee-catalogue-img" src="./images/fond-catalogue.png" alt="image fond titre">
            <h2 class="coffee-catalogue-title">Notre catalogue</h2>
        </div>
        
        <div class="container-articles-catalogue">
            <a href="/product/:id" class="article-link">
                <article class="coffee-catalogue">
                    <h1 class="article-title">Espresso</h1>
                    <img class="article-img" src="./images/Espresso.png" alt="espresso image">
                    <p class="article-caracteristique">Corsé</p>
                    <p class="article-origine">Origine : Italie</p>
                    <p class="article-prix">20.99 € le kg</p>
                </article>
            </a>
            
            <a href="/product/:id" class="article-link">
                <article class="coffee-catalogue">
                    <h1 class="article-title">Espresso</h1>
                    <img class="article-img" src="./images/Espresso.png" alt="espresso image">
                    <p class="article-caracteristique">Corsé</p>
                    <p class="article-origine">Origine : Italie</p>
                    <p class="article-prix">20.99 € le kg</p>
                </article>
            </a>
            
            <a href="/product/:id" class="article-link">
                <article class="coffee-catalogue">
                    <h1 class="article-title">Espresso</h1>
                    <img class="article-img" src="./images/Espresso.png" alt="espresso image">
                    <p class="article-caracteristique">Corsé</p>
                    <p class="article-origine">Origine : Italie</p>
                    <p class="article-prix">20.99 € le kg</p>
                </article>
            </a>
            
            <a href="/product/:id" class="article-link">
                <article class="coffee-catalogue">
                    <h1 class="article-title">Espresso</h1>
                    <img class="article-img" src="./images/Espresso.png" alt="espresso image">
                    <p class="article-caracteristique">Corsé</p>
                    <p class="article-origine">Origine : Italie</p>
                    <p class="article-prix">20.99 € le kg</p>
                </article>
            </a>
            
            <a href="/product/:id" class="article-link">
                <article class="coffee-catalogue">
                    <h1 class="article-title">Espresso</h1>
                    <img class="article-img" src="./images/Espresso.png" alt="espresso image">
                    <p class="article-caracteristique">Corsé</p>
                    <p class="article-origine">Origine : Italie</p>
                    <p class="article-prix">20.99 € le kg</p>
                </article>
            </a>
            
            <a href="/product/:id" class="article-link">
                <article class="coffee-catalogue">
                    <h1 class="article-title">Espresso</h1>
                    <img class="article-img" src="./images/Espresso.png" alt="espresso image">
                    <p class="article-caracteristique">Corsé</p>
                    <p class="article-origine">Origine : Italie</p>
                    <p class="article-prix">20.99 € le kg</p>
                </article>
            </a> 
        </div>
    </main>
    
    <a href="/catalogue" class="articles-link">Voir tout</a>
    
    <%- include('./partials/footer') %>