<%- include('./partials/header') %>

    <main class="main-container-contact">
        <form id="contact-form" class="formulaire" method="POST" action="/contact">
            <input type="hidden" name="contact_number" value="697483">

            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message</label>
            <textarea id="message" name="message" required></textarea>

            <input type="submit" value="Envoyer">
        </form>

        <div class="plan">
            <h2 class="map-localisation-title">Localisation de votre boutique O'Coffee</h2>
            <div id="map"></div>
        </div>

        <script>
            // Initialisation de la carte
            const map = L.map('map').setView([48.8566, 2.3522], 13);

            // Ajout de la couche OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Marqueur pour la boutique O'Coffee
            const oCoffeeMarker = L.marker([48.8566, 2.3522]).addTo(map)
                .bindPopup("<b>O'Coffee</b><br>Votre boutique à Paris.")
                .openPopup();
        </script>
    </main>
<%- include('./partials/footer2') %>

