<%- include('./partials/header') %>

<main>
    <div class="product-container">
        <!-- Affichage de l'image téléchargée -->
        <img class="product-img" src="/images/<%= coffee.image %>" alt="<%= coffee.name %> image">
    </div>
</main>

<%- include('./partials/footer2') %>
